
.section-title{
    margin-top: 25px;
   
}

.z-neg1{
background-color: #D0E7D2;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

padding-top: 25px;

margin-top: 5px;
cursor: pointer;


}
.card-title{
    text-align: center;
}


.section-title h2{
    text-align: center;
    animation: changeColor 6s infinite alternate;
    font-size: larger;
    font-weight: 700;
    }
    @keyframes changeColor {
        0% {
          color: green;
        }
        33% {
          color: #9400FF;
        }
        66% {
          color: #E55604;
        }
        100% {
          color: #C70039;
        }
      }

      .card-title{
        text-align: center;
        animation: changeColor 6s infinite alternate;
        font-size: larger;
        font-weight: 700;
        }
        @keyframes changeColor {
            0% {
              color: #9400FF;
            }
            33% {
              color: #662549;
            }
            66% {
              color: #272829;
            }
            100% {
              color: #3085C3;
            }
      }
     
      @media (max-width: 767px) {
       .section-title{
        margin-right: -70px;
       }
    }