.sidebar-profile-pic img{
border-radius: 45%;
margin-top: 10px ;
height: 90px;
width: 90px;
display: flex;
vertical-align: middle;
margin: 0 auto;
object-fit: cover;
border:3px solid whitesmoke;
}


.navbar-items ul li{
    color:white;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;

}
.navbar-items ul li svg{
    margin-right: 25px;
    margin-left: 10px;
    
}
.navbar-items-only-icons ul li{
    margin-bottom:30px;
    cursor: pointer;
    list-style-type: none;  
}



