.techStack-section{
    margin-top: 30px;
    margin-bottom: 40px;
}


.tech-content{
background-color:#F5EEC8;
    padding: 10px;
    color: black;
   border-radius: 10%;
    margin-top: 30px;
    width: 100%;
  
}
.tech-content:hover{
  background-color:rgb(65, 61, 61);
      padding: 10px;
      color: white;
     border-radius: 10%;
      margin-top: 30px;
    
  }
.tech-content-marked{
 
  padding: 10px;
    color: black;
    border-radius: 10%;
   background-color: rgb(153, 143, 143);
    margin-top: 30px;
    
    height: 135px;
}
.tech-content-marked:hover{
  
  padding: 10px;
    color: rgb(155, 142, 142);
    border-radius: 10%;
   background-color: black;
    margin-top: 30px;
    
    height: 135px;
 
 
}

.tech-content-marked p{
  text-align: center;
padding-top: 20px;
font-size: 20px;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.tech-content p{
text-align: center;
padding-top: 30px;
font-size: 20px;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
}


.tech-number{
    border-radius: 40%;
    height: 40px;
    width: 40px;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    line-height: 40px;
}
.load-more-tech-stack{
   background-color: black;
    width: 150px;
    padding: 10px;
    color: white;
    justify-content: center;
    display: table;
    margin-left: auto;
    margin-top: 35px;
    margin-right: auto;
    border-radius: 5%;
    margin-bottom: 25px;
    cursor: pointer;
    transition-duration: 1s;

}
.load-more-tech-stack:hover{
background-color:rgb(96, 81, 81);

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 500;

}

@media (max-width: 767px) {
  .techStackMain{
    margin-left: 10px;
   
  }
   .tech-content p{
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .section-title h2{
        margin-left: -20px;
        }
        .tech-content-marked p{
          text-align: center;
          padding-top: 30px;
          font-size: 15px;
          font-weight: 300;
          font-family: Georgia, 'Times New Roman', Times, serif;
          
        }
        .tech-content-marked p:hover{
          font-size: 16px;
          
        }
        .techStack-section{
          max-width: 300px;
        }
        .tech-content p:hover{
          font-size: 17px;
        }
   
}