/* CSS for Testimonial Section */
.testimonial-section {
  margin-top: 30px;
  height: 65vh;
  text-align: center;
}

.content-slider-main {
  margin: 5px;
  border-radius: 10px;
}

.content-slider {
  padding: 15px;
  color: black;
  background-color: #F5F7F8;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  height: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content-slider img.center-image {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 30px;
}

.slick-next::before,
.slick-prev::before {
  color: black !important;
  font-size: 30px !important;
}

.section-title h2,
.card-title {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .slick-next{
    display: block !important;
    margin-right: 30px; 
  }
  
  .slick-prev {
    display: block !important;
    margin-left: 20px; 
  }
}
