.sidebar-section{
display: flex;
text-shadow: 4px 4px 2px rgba(0,0,0,0.6);


background: rgb(66, 16, 16);
background: radial-gradient(circle, rgb(10, 20, 65) 0%, rgba(77, 75, 75, 0.835) 100%);
color:#aab2c3;
}

.sidebar{
    height:100vh;
    background-color:black;
    width: 70px;
    position: fixed;

}
.sidebar-expand{
    width: 230px; 
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
}

.icon-for-sidebar-expand-and-collapse p svg{
    background-color: black;
    padding: 5px;
    color:white;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 50px;
   

}

.icon-for-sidebar-expand-and-collapse{
   display: flex;
   align-items: right;
   justify-content: right;
   cursor: pointer;
   
}

