

/* Add this CSS to your contact.css or a separate CSS file */
/* Reset margins and paddings for the body and container */
body{
  margin: 0;
  padding: 0;
  height: 550px;
}
/* contact.css */
.container.contact-section {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Set the height to fill the entire viewport */
  margin: 0;
  padding: 5px;
  height: 550px;
}

/* Other styles for your Contact component... */


/* Reset margins and paddings for the row */
.row {
  margin: 0;
  padding: 0;
}

/* Adjust the margin for the contact-form-design */
.contact-form-design {
  margin-top: 0; /* Set to 0 or adjust as needed */
}


.contact-section{
    height: 750px;
    color:black;
    background-color:#F5F7F8;
    padding: 10px;
    border-radius: 2%;
    margin-top: 15px;
   
}
.contact-form-image img{
    height: 300px;
    width: 100%;
    border-radius: 20%;
    object-fit: contain;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact-form input{
height: 50px;
border-radius: 3%;
margin-top: 10px;
width: 100%;
border: 1px solid black;
margin-bottom: 0px;
}
.custom-select-tags{
    height: 50px;
border-radius: 3%;
margin-top: 10px;
width: 100%;
border: 1px solid black;
margin-bottom: 20px;
}
.form-control:focus {
    border-color: black;
    box-shadow: none; 
  }
  .form-label{
    font-weight: 600 !important;
  }
  .form-control{
    border-radius: 1%;
margin-top: 10px;
width: 100%;
border: 1px solid black;
margin-bottom: 20px;
  }
.button-submit{
  
    background-color: black;
    color: white;
    border-radius: 4%;
    padding: 2px;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;

}
.phone{
  font-weight: 600;
  color: black;
}
.email{
  font-weight: 600;
  color: black;
}
.button-submit:hover{
background-color: #35A29F;
color: black;
transition-duration: 2s;
color:white;
font-size: 24px;
}
.send{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
    .contact{
        text-align: center;
        color: black;
        font-size: larger;
        font-weight: 700;
        }
      
          .note {
            font-size: 14px;
            color: #555;
            margin-top: 10px;
          }


          @media (max-width: 768px) {
          .button-submit{
          
            margin-bottom: 5px;
            border-radius: 10%;
          }
          .container.contact-section {
            overflow-y: auto; /* Enable vertical scrolling */
            height: 100vh; /* Set the height to fill the entire viewport */
            margin: 0;
            padding: 5px;
            height: 550px;
          }
          }
          