

.about-image img{
    height: 250px;
    width: 250px;
    border-radius: 20%;
  
    margin-top: 40px;
   
    cursor: pointer;
    object-fit: contain;
    margin-bottom: 20px;
    
    transition: transform 2s;
   
}
.body{
    background-color: red;
}

.about-details{
    margin-top: 40px; 
    padding: 20px;
    
    background-color:#F5F7F8;
    color: black;
    border-radius: 1%;
    cursor: pointer;
    
}

.about-title h5{
    margin-right: 500px;
}
/* Media query for smaller screens */
@media (max-width: 767px) {
    .about-image img {
      height: 200px;
      width: 200px;
      margin-left: 0; /* Remove left margin */
      margin-right: auto; /* Center the image horizontally */
      margin-top: 20px; /* Adjust the top margin */
      margin-bottom: 10px;
    }

    .about-image {
        display: none;
        justify-content: center; /* Center the image horizontally */
        align-items: center; /* Center the image vertically */
      }
    .about-details {
      margin-top: 20px; /* Increase the top margin */
      padding: 15px; /* Adjust padding */
      width: 100%;
    }
    .about-title h5 {
      margin-right: 0; /* Remove right margin */
    }
    .about-section {
      max-width: 100%; /* Allow the section to take full width */
    }
  }