

.about-image img{
    height: 250px;
    width: 250px;
    border-radius: 20%;
    margin-left: 120px;
    margin-top: 40px;
   
    cursor: pointer;
    object-fit: contain;
    margin-bottom: 20px;
    
    transition: transform 2s;
   
}
.about-image img:hover{
    transform: rotate(360deg); 
}
.about-details{
    margin-top: 40px; 
    padding: 20px;
    
    background-color: #186F65;
    color: white;
    border-radius: 1%;
    cursor: pointer;
    
}
.about-details:hover{
    background-color: #FFFADD;
    transition-duration: 2s;
    color: black;
    font-size: 17px;
    
}
.about-title h5{
    margin-right: 500px;
}

@media (max-width: 767px) {

    .about-image img {
        height: 200px;
        width: 200px;
        margin-left: 120px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .about-details{
        margin-top: 5px; 
        margin-left: 0px;
        margin-bottom: 10px;
       width: 282px;
       

       
    }
    .about-section{
        max-width: 300px;
    }
    .about-title h3{
        display: inline-block;
        margin-left: 70px;
    }
    .about-image{
        margin-left: -70px;
    }
    
    
}